In [2]:
%matplotlib inline
import pandas as pd

In [3]:
from IPython.core.display import HTML
css = open('style-table.css').read() + open('style-notebook.css').read()
HTML('<style>{}</style>'.format(css))

In [4]:
cast = pd.DataFrame.from_csv('data/cast.csv', index_col=None)
cast.head()

                  title  year      name   type                character     n
0        Closet Monster  2015  Buffy #1  actor                  Buffy 4  31.0
1       Suuri illusioni  1985    Homo $  actor                   Guests  22.0
2   Battle of the Sexes  2017   $hutter  actor          Bobby Riggs Fan  10.0
3  Secret in Their Eyes  2015   $hutter  actor          2002 Dodger Fan   NaN
4            Steve Jobs  2015   $hutter  actor  1988 Opera House Patron   NaN

In [5]:
release_dates = pd.DataFrame.from_csv('data/release_dates.csv', index_col=None,
                                      parse_dates=['date'], infer_datetime_format=True)
release_dates.head()

                    title  year      country       date
0   #73, Shaanthi Nivaasa  2007        India 2007-06-15
1                 #Beings  2015      Romania 2015-01-29
2               #Declimax  2018  Netherlands 2018-01-21
3  #Ewankosau saranghaeyo  2015  Philippines 2015-01-21
4                 #Horror  2015          USA 2015-11-20

### Make a bar plot of the months in which movies with "Christmas" in their title tend to be released in the USA.

### Make a bar plot of the months in which movies whose titles start with "The Hobbit" are released in the USA.

### Make a bar plot of the day of the week on which movies with "Romance" in their title tend to be released in the USA.

### Make a bar plot of the day of the week on which movies with "Action" in their title tend to be released in the USA.

### On which date was each Judi Dench movie from the 1990s released in the USA?

### In which months do films with Judi Dench tend to be released in the USA?

### In which months do films with Tom Cruise tend to be released in the USA?

In [6]:
r = release_dates
r.head()

                    title  year      country       date
0   #73, Shaanthi Nivaasa  2007        India 2007-06-15
1                 #Beings  2015      Romania 2015-01-29
2               #Declimax  2018  Netherlands 2018-01-21
3  #Ewankosau saranghaeyo  2015  Philippines 2015-01-21
4                 #Horror  2015          USA 2015-11-20

In [9]:
r.date.dt.year
r.date.dt.dayofweek
r.date.dt.dayofyear

0         166
1          29
2          21
3          21
4         324
5         137
6         244
7          44
8         211
9          60
10        304
11        182
12        283
13        307
14        127
15        344
16        316
17        304
18         48
19         70
20         87
21        126
22        256
23        257
24        258
25        281
26        292
27         26
28        323
29        124
         ...
453985    118
453986    118
453987    118
453988    118
453989    118
453990    118
453991    118
453992    118
453993    118
453994    118
453995    118
453996    118
453997    118
453998    118
453999    119
454000    119
454001    119
454002    119
454003    119
454004    119
454005    119
454006    119
454007    119
454008    119
454009    119
454010    119
454011    154
454012    154
454013    168
454014    175
Name: date, dtype: int64

# Merge Function

In [14]:
c = cast
c[c.name == 'Ellen Page']
c.merge(release_dates)

,title,year,name,type,character,n,country,date
0,Closet Monster,2015,Buffy #1,actor,Buffy 4,31.0,Taiwan,2016-05-27
1,Closet Monster,2015,Buffy #1,actor,Buffy 4,31.0,Germany,2016-10-06
2,Closet Monster,2015,Aaron Abrams,actor,Peter Madly,1.0,Taiwan,2016-05-27
3,Closet Monster,2015,Aaron Abrams,actor,Peter Madly,1.0,Germany,2016-10-06
4,Closet Monster,2015,Chunk (III),actor,Buffy 1,28.0,Taiwan,2016-05-27
5,Closet Monster,2015,Chunk (III),actor,Buffy 1,28.0,Germany,2016-10-06
6,Closet Monster,2015,Teigan Follett,actor,Greg,20.0,Taiwan,2016-05-27
7,Closet Monster,2015,Teigan Follett,actor,Greg,20.0,Germany,2016-10-06
8,Closet Monster,2015,Jack (IV) Fulton,actor,Young Oscar,2.0,Taiwan,2016-05-27
9,Closet Monster,2015,Jack (IV) Fulton,actor,Young Oscar,2.0,Germany,2016-10-06
10,Closet Monster,2015,James Hawksley,actor,Andrew,24.0,Taiwan,2016-05-27
11,Closet Monster,2015,James Hawksley,actor,Andrew,24.0,Germany,2016-10-06
12,Closet Monster,2015,Connor Jessup,actor,Oscar Madly (18),9.0,Taiwan,2016-05-27
13,Closet Monster,2015,Connor Jessup,actor,Oscar Madly (18),9.0,Germany,2016-10-06
14,Closet Monster,2015,Mama (VI),actor,Buffy 2,29.0,Taiwan,2016-05-27
15,Closet Monster,2015,Mama (VI),actor,Buffy 2,29.0,Germany,2016-10-06
16,Closet Monster,2015,Ross (II) Moore,actor,Newlywed Man,22.0,Taiwan,2016-05-27
17,Closet Monster,2015,Ross (II) Moore,actor,Newlywed Man,22.0,Germany,2016-10-06
18,Closet Monster,2015,Tim Myles,actor,Student,13.0,Taiwan,2016-05-27
19,Closet Monster,2015,Tim Myles,actor,Student,13.0,Germany,2016-10-06
20,Closet Monster,2015,Brad Nippard,actor,Teenage Boy,7.0,Taiwan,2016-05-27
21,Closet Monster,2015,Brad Nippard,actor,Teenage Boy,7.0,Germany,2016-10-06
22,Closet Monster,2015,Sean Panting,actor,Constable Bennett,11.0,Taiwan,2016-05-27
23,Closet Monster,2015,Sean Panting,actor,Constable Bennett,11.0,Germany,2016-10-06
24,Closet Monster,2015,Igor Pugdog,actor,Allison's Dog,15.0,Taiwan,2016-05-27
25,Closet Monster,2015,Igor Pugdog,actor,Allison's Dog,15.0,Germany,2016-10-06
26,Closet Monster,2015,Aliocha Schneider,actor,Wilder,17.0,Taiwan,2016-05-27
27,Closet Monster,2015,Aliocha Schneider,actor,Wilder,17.0,Germany,2016-10-06
28,Closet Monster,2015,Blood Thirsty,actor,Buffy 3,30.0,Taiwan,2016-05-27
29,Closet Monster,2015,Blood Thirsty,actor,Buffy 3,30.0,Germany,2016-10-06
...,...,...,...,...,...,...,...,...
18559054,Meng long fu xing,1981,Michelle (II) Yim,actress,Ah-feng,1.0,France,1981-03-18
18559055,Feng kuang shao nu ying,1982,Hsia Yin,actress,(Guest star),NaN,Taiwan,1982-11-25
18559056,Lipstick (II),2013,Miyuki Yokoyama,actress,Arina,NaN,Japan,2013-11-02
18559057,Lipstick (II),2013,Miyuki Yokoyama,actress,Anna,NaN,Japan,2013-11-02
18559058,Sanada Kunoichi Ninpo-den Kasumi Tanjo! Saruto...,2007,Akiho Yoshizawa,actress,Kasumi,NaN,Japan,2007-09-21
18559059,Sanada Kunoichi Ninpo-den Kasumi Tanjo! Saruto...,2007,Akiho Yoshizawa,actress,Kasumi,NaN,Canada,2009-05-26
18559060,Sanada Kunoichi Ninpo-den Kasumi Tanjo! Saruto...,2007,Akiho Yoshizawa,actress,Kasumi,NaN,USA,2009-05-26
18559061,I Dream of Jeanne,1970,Jeanne Young,actress,In a triple role,1.0,Philippines,1970-01-24
18559062,Fa qiong e,1979,Dorothy Chi-hsia Yu,actress,Lin,NaN,Hong Kong,1979-08-23
18559063,Ma hou pao,1984,Dorothy Chi-hsia Yu,actress,Ying Ying,2.0,Hong Kong,1984-01-15
18559064,Wo ge wo qi,1980,Lai-shuo Yu,actress,(Vocals),NaN,Taiwan,1980-01-12
18559065,Geming jiating,1961,Lan Yu,actress,Zhou Lian,NaN,Hungary,1962-10-01
18559066,Who Sleeps My Bro,2016,Vicky Yu,actress,Lu Xiaoxiao,NaN,China,2016-04-01
18559067,Huan Huan,2012,Tian Yuefang,actress,Huan Huan,NaN,China,2012-03-28
18559068,Sennen tabito,1999,Yuma,actress,Yuma,NaN,Japan,1999-11-01
18559069,Ha entrado una mujer,1970,Yuy?,actress,Tota,5.0,Mexico,1970-05-01
18559070,Un nuevo modo de amar,1968,Yuy?,actress,To?a,NaN,Mexico,1968-12-20
18559071,Teito monogatari gaiden,1995,Ry?ka Yuzuki,actress,Woman,NaN,Japan,1995-09-15
18559072,Pangit Squad,1969,Yvonne (IV),actress,Li-ming (New Discovery),24.0,Philippines,1969-01-25
18559073,Zabicie ciotki,1985,Miroslawa Zaborowska,actress,Teresa,NaN,Poland,1985-09-20
18559074,Itihaas Konna,2000,Sara Zaker,actress,Lalarukh,2.0,Bangladesh,2000-01-31
18559075,Igrok,1974,Jitka Zelenohorsk?,actress,Blanche,3.0,Hungary,1974-03-07
18559076,Igrok,1974,Jitka Zelenohorsk?,actress,Blanche,3.0,Finland,1975-02-07
18559077,Qing gong mi shi,1948,Xuan Zhou,actress,Pearl Concubine,NaN,Hong Kong,1948-11-11
18559078,Qing gong mi shi,1948,Xuan Zhou,actress,Pearl Concubine,NaN,Denmark,1951-01-31
18559079,Gui ri zi,2014,Li Ziqian,actress,Pomegranate,NaN,France,2016-03-30
18559080,Los pulpos,1948,Olga Zubarry,actress,Myrtha,1.0,Argentina,1948-03-17
18559081,Sana'y laging magkapiling,1994,Dawn Zulueta,actress,Maria Makiling,1.0,Philippines,1994-08-17
18559082,The Cecilia Masagca Story: Antipolo Massacre (...,1994,Dawn Zulueta,actress,Cecilia Masagca,1.0,Philippines,1994-04-09
18559083,Familia tortuga,2006,Manuela ?maz,actress,Aunt,NaN,Mexico,2008-10-31

# Pivot

In [15]:
r = release_dates
r = r[r.title.str.startswith('Star Wars: Episode')]
r = r[r.country.str.startswith('U')]
r.pivot('title', 'country', 'date')

country,UK,USA,Ukraine,United Arab Emirates,Uruguay
title,,,,,
Star Wars: Episode I - The Phantom Menace,1999-07-15,1999-05-19,NaT,1999-08-25,1999-07-02
Star Wars: Episode II - Attack of the Clones,2002-05-16,2002-05-16,2002-06-08,2002-05-16,2002-07-05
Star Wars: Episode III - Revenge of the Sith,2005-05-19,2005-05-19,NaT,2005-05-19,2005-05-18
Star Wars: Episode IX,NaT,2019-05-24,NaT,NaT,NaT
Star Wars: Episode V - The Empire Strikes Back,1980-05-21,1980-06-20,NaT,NaT,1981-01-15
Star Wars: Episode VI - Return of the Jedi,1983-06-02,1983-05-25,NaT,NaT,1984-01-01
Star Wars: Episode VII - The Force Awakens,2015-12-17,2015-12-18,2015-12-17,2015-12-17,2015-12-17
Star Wars: Episode VIII,2017-12-15,2017-12-15,NaT,NaT,NaT

In [18]:
c = cast
c = c[c.n <= 2]
c = c[c.name == 'Cary Grant']
c.head()

                        title  year        name   type          character    n
847622  An Affair to Remember  1957  Cary Grant  actor    Nickie Ferrante  1.0
847623   Arsenic and Old Lace  1944  Cary Grant  actor  Mortimer Brewster  1.0
847624         Big Brown Eyes  1936  Cary Grant  actor         Danny Barr  1.0
847626         Born to Be Bad  1934  Cary Grant  actor     Malcolm Trevor  2.0
847627       Bringing Up Baby  1938  Cary Grant  actor              David  2.0

In [22]:
c = c.merge(cast, on = ['title', 'year'])
c = c[c.n_y <= 2]
c = c[c.name_y != 'Cary Grant']
c

ValueError: cannot reindex from a duplicate axis